@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Patrick+Hand&display=swap");

/* Global Styles */
body {
  font-family: "Patrick Hand", cursive;
  background-color: #0e0e0e; /* Gray */
  background-image: url(./images/bg.svg);
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #ffffff; /* Pure white */
}

/* Remove default list padding */
ul {
  padding-inline-start: 10px;
  list-style-type: none; /* Remove bullet points */
}

/* Font Classes */
.bangers-regular {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  color: #ffbb00; /* Yellow for headings */
}

.patrick-hand-regular {
  font-family: "Patrick Hand", cursive;
  font-weight: 300;
  font-style: normal;
  font-size: 28px;
  color: #ffffff; /* Pure white for body text */
}

/* Links */
a {
  color: #2a75b3; /* Blue */
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #ffbb00; /* Yellow on hover */
}

/* Buttons */
/* Buttons */
button {
  font-family: "Bangers", system-ui;
  font-size: 18px;
  color: #ffffff; /* Pure white */
  background-color: #e62429; /* Red */
  border: none;
  border-radius: 2px; /* Consistent border radius */
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #ffbb00; /* Yellow on hover */
  color: #ffffff; /* Keep text white on hover */
  transform: scale(1.05); /* Slight zoom effect */
}

/* Utility Classes */
.text-center {
  text-align: center;
}

.mt-20 {
  margin-top: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}
